
@{
    ViewData["Title"] = "About";
}


<h1>@ViewData["Title"]</h1>

<h2>@ViewData["Message"]</h2>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/caio-ferreira-037820229/">My Linkedin</a>
    </address>